<%= render 'books/list', books: @books %>


<h3>Books</h3>

<% @books.each do |book| %>
<div>
  <%= link_to user_path(@user) do %>
    <%= image_tag book.user.get_profile_image(100,100) %>
  <% end %>

  <p>Title</p>
  <%= link_to book.title, book_path(book) %>
  <p>Opinion</p>
  <%= @book.body %>

</div>
<% end %>
