<div>
  <h3>User info</h3>
  <%= link_to user_path(@user) do %>
    <%= image_tag @user.get_profile_image(100,100) %>
  <% end %>
  <p>name</p>
  <p><%= @user.name %></p>
  <p>introduction</p>

  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<h1>New book</h1>


<% if @book.errors.any? %>
  <% @books.each do |book| %>
    <%= book.errors.count %>件のエラーが発生しました
    <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%= form_with model: Book.new, url: '/books', method: :post do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>

