<%= render 'list',books: @books %>

<div>
  <h3>Book detail</h3>
  <%= link_to user_path(@user) do %>
    <%= image_tag @user.get_profile_image(100,100) %>
    <%= @user.name %>
  <% end %>

  <p><%= link_to @book.title, book_path(@book) %></p>
  <p><%= @book.body %></p>
  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>